:root {
    --light-red: hsl(0, 100%, 67%);
    --light-red-soft: hsl(0, 100%, 67%, 10%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-soft: hsla(39, 100%, 56%, 10%);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-soft: hsl(166, 100%, 37%, 10%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-soft: hsl(234, 85%, 45%, 10%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("../fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("../fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("../fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--dark-gray-blue);
    font-size: 1.125rem;
    font-family: "Hanken Grotesk", sans-serif;
    min-height: 100dvh;
}

li {
    list-style: none;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
}

.container {
    border-radius: 22px;
    box-shadow: 5px 5px 35px rgba(0,0,0,.1);
    display: flex;
    max-width: 40rem;
    margin: 1em;
}

.result {
    align-items: center;
    background-image: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 22px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 2em 2.5em;
    justify-content: space-between;
}

.result__title {
    color: var(--light-lavender);
    font-size: 1.2em;
}

.result__count {
    background-image: linear-gradient(180deg, var(--violet-blue) 40%, var(--persian-blue));
    border-radius: 50%;
    padding: 2em;
    height: 160px;
    width: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.result__score {
    color: var(--white);
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    display: block;
    line-height: 1.2;
}

.result__total {
    color: var(--light-lavender);
    display: block;
    text-align: center;
}

.result__content {
    color: var(--white);
    font-size: 1.3em;
    font-weight: 700;
}

.result__paragraph {
    color: var(--light-lavender);
    font-size: .8em;
    max-width: 32ch;
    text-align: center;
}

.summary {
    flex-basis: 50%;
    padding: 2em;
}

.summary__title {
    font-size: 1.2em;
    font-weight: 600;
}

.summary__item-container {
    display: flex;
    flex-direction: column;
    gap: .7em;
    margin-bottom: 28px;
    margin-top: 18px;
}

.summary__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: .8em;
    padding: .6em 1em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;
}

.summary__item-title,
.summary__item-value {
    font-size: .85em;
    font-weight: 600;
}

.summary__item-label img {
    vertical-align: middle;
    margin-right: 4px;
}

.summary__item--reaction {
    background-color: var(--light-red-soft);
}

.summary__item--reaction .summary__item-title {
    color: var(--light-red);
}

.summary__item--memory {
    background-color: var(--orangey-yellow-soft);
}

.summary__item--memory .summary__item-title {
    color: var(--orangey-yellow);
}

.summary__item--verbal {
    background-color: var(--green-teal-soft);
}

.summary__item--verbal .summary__item-title {
    color: var(--green-teal);
}

.summary__item--visual {
    background-color: var(--cobalt-blue-soft);
}

.summary__item--visual .summary__item-title {
    color: var(--cobalt-blue);
}

.summary__item-total {
    color: var(--dark-gray-blue);
    opacity: .6;
}

.summary__button {
    border: 0;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    padding: 1.2em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: background-color 150ms ease-in-out;
    width: 100%;
    -webkit-transition: background-color 150ms ease-in-out;
    -moz-transition: background-color 150ms ease-in-out;
    -ms-transition: background-color 150ms ease-in-out;
    -o-transition: background-color 150ms ease-in-out;
}

.summary__button:hover {
    background-image: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue));
}

@media only screen and (max-width: 36rem) {
    .container {
        flex-direction: column;
        margin: 0;
    }

    .result,
    .summary {
        width: 100%;
    }

    .result {
        border-radius: 0 0 22px 22px;
        -webkit-border-radius: 0 0 22px 22px;
        -moz-border-radius: 0 0 22px 22px;
        -ms-border-radius: 0 0 22px 22px;
        -o-border-radius: 0 0 22px 22px;
}
}